# .env.example
# Cloudinary (Frontend & Backend)
VITE_CLOUDINARY_CLOUD_NAME=dqt35bpzt
VITE_CLOUDINARY_FOLDER=portfolio/ivan
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# E-mail Service
RESEND_API_KEY=

# AI Features (Optional)
GEMINI_API_KEY=
